<div class="column is-offset-one-fifth" >
<nav class="navbar is-primary nav-width  " role="navigation" aria-label="main navigation">


  <div class="navbar-menu">
    <div class="navbar-brand margin">
      <a class="navbar-item" target="_blank" routerLink="">
        Home
      </a>

      <a class="navbar-item" target="_blank" routerLink="categories"  (click)="readCategories()">
        Categories
      </a>
     
      <a class="navbar-item"   target="_blank" routerLink="categoriesedit" (click)="readCategories()">
        Edit Category
      </a>

    
    </div>

  
  </div>
</nav>
<router-outlet></router-outlet>